body { padding: 0; }

.cms-page { padding-top: 65px; }

.find .search-form li a {
	padding: 3px 15px;
}

.find .search-form .keywords,
.find .search-form .facets {
	margin-bottom: 15px;
}

.main-navigation > li.navigation-header {
	font-weight: bold;
	cursor: default;
}

.main-navigation > li.navigation-header > a:hover,
.main-navigation > li.navigation-header > a:focus {
	cursor: default;
}

 .multi-node-selector .nav>li>a {
	padding: 5px 15px;
}

.multi-node-selector .form-control.search-query {
	margin-bottom: 10px;
}

/*
	Default behaviour is to hide all dismissable alerts.
	These alerts will be shown when determined that the user didn't yet closed the alert.
*/
.alert.alert-dismissible {
	display: none;
}

/*
	Solution for responsive panels on the home screen from col-xs to col-lg
	*/
@media(min-width: 992px) {
	.cms-page .panels .col-md-4:nth-child(3n+1) {
		clear: left;
	}
}

@media(max-width: 992px) {
	.cms-page .panels .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
}
