body { padding: 0; }

.cms-page { padding-top: 65px; }

.find .search-form li a {
	padding: 3px 15px;
}

.find .search-form .keywords,
.find .search-form .facets {
	margin-bottom: 15px;
}

 .multi-node-selector .nav>li>a {
	padding: 5px 15px;
}

 .multi-node-selector .form-control.search-query {
	 margin-bottom: 10px;
 }