<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
		<sessionState mode="InProc" cookieless="false" timeout="240" />
		<identity impersonate="false" />
	</system.web>
	<log4net debug="true">
		<root>
			<level value="WARN" />
			<appender-ref ref="LeAppender" />
		</root>
		<appender name="LeAppender" type="log4net.Appender.LeAppender, LeLog4net">
			<Key value="6b421e41-7cbb-4016-a92b-7de9ab608c74" />
			<Location value="AppHarbor/LoesRandazzo" />
			<Debug value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d{ddd MMM dd HH:mm:ss zzz yyyy} %logger %: %level%, %m" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="APPLICATION_IS_LIVE" value="false" />
		<add key="REPOSITORY_NAMESPACE" value="http://schemas.premotion.nl/mansion/1.0/sqlserverrepository.xsd" />
		<add key="SQLSERVER_CONNECTION_STRING" value="Server=TRILOBYTE-02\SQLEXPRESS;Database=LoesRandazzoWebsite;User ID=sa;Password=sqlpw1" />
		<add key="AWS_ACCESS_KEY" value="AKIAIW3LOR45TOGMIXWA" />
		<add key="AWS_ACCESS_SECRET" value="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" />
		<add key="AWS_BUCKET_NAME" value="premotion-test-bucket" />
	</appSettings>
	<system.webServer>
		<modules>
			<remove name="AspNetAppHarborIntegration" />
			<add name="AspNetAppHarborIntegration" type="Premotion.AspNet.AppHarbor.Integration.AppHarborIntegrationModule, Premotion.AspNet.AppHarbor.Integration" />
			<remove name="MansionOutputCacheModule" />
			<remove name="MansionReWriteModule" />
			<add name="MansionOutputCacheModule" type="Premotion.Mansion.Web.Http.HttpOutputCacheModule, Premotion.Mansion.Web" />
			<add name="MansionReWriteModule" type="Premotion.Mansion.Web.Http.PathRewriterModule, Premotion.Mansion.Web" />
		</modules>
		<handlers>
			<remove name="MansionScriptHandler" />
			<remove name="MansionStaticResourceHandler" />
			<remove name="MansionDynamicResourceHandler" />
			<remove name="MansionMergeResourceHandler" />
			<remove name="MansionStaticContentHandler" />
			<remove name="MansionStreamingStaticContentHandler" />
			<remove name="MansionCKFinderConnectorHttpHandler" />
			<add name="MansionScriptHandler" path="*.xts" verb="*" type="Premotion.Mansion.Web.Http.MansionScriptHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStaticResourceHandler" path="Static.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.StaticResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionDynamicResourceHandler" path="Dynamic.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.DynamicResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionMergeResourceHandler" path="Merge.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.MergeResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStaticContentHandler" path="Static.Content" verb="GET" type="Premotion.Mansion.Web.Http.StaticContentHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStreamingStaticContentHandler" path="Streaming.Static.Content" verb="GET" type="Premotion.Mansion.Web.Http.StreamingStaticContentHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionCKFinderConnectorHttpHandler" path="CKFinder.Connector" verb="GET,POST" type="Premotion.Mansion.Web.CKFinderConnector.ConnectorHttpHandler, Premotion.Mansion.Web, Version=1.0.0.0, Culture=neutral" />
		</handlers>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Web/Default.xts" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".m4v" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".oga" />
			<mimeMap fileExtension=".oga" mimeType="audio/ogg" />
			<remove fileExtension=".spx" />
			<mimeMap fileExtension=".spx" mimeType="audio/ogg" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>