<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- application settings -->
	<appSettings>
		<add key="APPLICATION_IS_LIVE" value="false" />
		<add key="REPOSITORY_NAMESPACE" value="http://schemas.premotion.nl/mansion/1.0/sqlserverrepository.xsd" />
		<add key="SQLSERVER_CONNECTION_STRING" value="Server=TRILOBYTE-02\SQLEXPRESS;Database=LoesRandazzoWebsite;User ID=sa;Password=sqlpw1" />
	</appSettings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
		<sessionState mode="StateServer" cookieless="false" timeout="240" />
		<identity impersonate="false" />
		<compilation debug="true" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="MansionOutputCacheModule" />
			<remove name="MansionReWriteModule" />
			<add name="MansionOutputCacheModule" type="Premotion.Mansion.Web.Http.HttpOutputCacheModule, Premotion.Mansion.Web" />
			<add name="MansionReWriteModule" type="Premotion.Mansion.Web.Http.PathRewriterModule, Premotion.Mansion.Web" />
		</modules>
		<handlers>
			<remove name="MansionScriptHandler" />
			<remove name="MansionStaticResourceHandler" />
			<remove name="MansionDynamicResourceHandler" />
			<remove name="MansionMergeResourceHandler" />
			<remove name="MansionStaticContentHandler" />
			<remove name="MansionStreamingStaticContentHandler" />
			<remove name="MansionCKFinderConnectorHttpHandler" />
			<add name="MansionScriptHandler" path="*.xts" verb="*" type="Premotion.Mansion.Web.Http.MansionScriptHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStaticResourceHandler" path="Static.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.StaticResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionDynamicResourceHandler" path="Dynamic.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.DynamicResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionMergeResourceHandler" path="Merge.Application.Resource" verb="GET" type="Premotion.Mansion.Web.Http.MergeResourceHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStaticContentHandler" path="Static.Content" verb="GET" type="Premotion.Mansion.Web.Http.StaticContentHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionStreamingStaticContentHandler" path="Streaming.Static.Content" verb="GET" type="Premotion.Mansion.Web.Http.StreamingStaticContentHttpHandler, Premotion.Mansion.Web" />
			<add name="MansionCKFinderConnectorHttpHandler" path="CKFinder.Connector" verb="GET,POST" type="Premotion.Mansion.Web.CKFinderConnector.ConnectorHttpHandler, Premotion.Mansion.Web, Version=1.0.0.0, Culture=neutral" />
		</handlers>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/Web/Default.xts" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<mimeMap fileExtension=".oga" mimeType="audio/ogg" />
			<mimeMap fileExtension=".spx" mimeType="audio/ogg" />
			<mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
			<mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>