/* jquery datetime picker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


/* jquery treeview styles */
ul.treeview,
.treeview ul,
.treeview li
{ 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview .hitarea
{
	background: url('{StaticResourceUrl('Controls/Images/Treeview/treeview-default.gif')}') -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea
{
	display: inline;
	float:none;
}

.treeview li
{ 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected
{
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url('{StaticResourceUrl('/Controls/Images/Treeview/treeview-default-line.gif')}') 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url('{StaticResourceUrl('/Controls/Images/Treeview/treeview-default.gif')}'); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview .placeholder
{
	background: url('{StaticResourceUrl('/Controls/Images/Treeview/ajax-loader.gif')}') 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}
.treeview label,
.treeview input { margin: 0; padding: 0; }



/* jQuery Tags Input Plugin 1.3.3 */
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:100px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica; font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px; }
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px; margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}