/* ==|== Portal --------=====================================================
	Author: Premotion
	========================================================================== */
	
/* columns */
.column > .column-content {
	border: 1px solid transparent;
	height: 100%;
}

.column > .column-content.droptarget {
	border: 1px dotted #f09;
	height: 350px;
}
.column > .column-content.hover {
	border: 1px dashed #0f9;
	min-height: 250px;
}

/* Block toolbar */
.block { position: relative; }
.block > .block-toolbar {
	border: 1px solid #333;
	background-color: rgb(128, 128, 128);
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	display: none;
	z-index: 9999;
}
	
	.block > .block-toolbar .command	{
		height: 16px;
		width: 16px;
		margin: 1px 2px;
		float: left;
	}
		
		.block > .block-toolbar .command.configure { background-image: url('{StaticResourceUrl('/Images/Icons/configure-block.png' )}'); }
		.block > .block-toolbar .command.move {	background-image: url('{StaticResourceUrl('/Images/Icons/move-block.png' )}'); cursor: move; }
		.block > .block-toolbar .command.remove { background-image: url('{StaticResourceUrl('/Images/Icons/remove-block.png' )}'); }
		.block > .block-toolbar .command.style { background-image: url('{StaticResourceUrl('/Images/Icons/style-block.png' )}'); }
			
			

.blockghost {
	border: 1px solid #fcefa1;
	background-color: #fbf9ee;
	margin: 20px;
	padding: 20px;
	color: #363636;
}

#portal-modal-popup .seamless {
	border: none;
	overflow: hidden;
	width: 100%;
}