{IncludeStaticResource( '/Shared/Css/Normalize.css' )}
{IncludeStaticResource( '/Shared/Css/Common.css' )}
{IncludeDynamicResource( '/Controls/Css/Controls.css' )}

/* ==|== Dialog styles ======================================================
	Author: Premotion
	========================================================================== */
	
html.popup,
body.popup
{
	min-width: none;
	max-width: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

	.popup > header
	{
		height: 52px;
		padding: 0 10px;
		margin: 0;
		background-color: #333;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}
	
	.popup > .content
	{
		padding: 0 10px;
		margin: 0;
		background-color: #fff;
		overflow: auto;
		position: absolute;
		left: 0;
		right: 0;
		top: 52px;
		bottom: 24px;
	}

	.popup > footer
	{
		height: 24px;
		margin: 0;
		padding: 0 10px;
		background: #333;
		color: #fff;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
