<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" />
		<sessionState mode="InProc" cookieless="false" timeout="240" />
		<identity impersonate="false" />
	</system.web>
	<appSettings>
		<add key="APPLICATION_SECURITY_SALT" value="TODO-add-a-large-unique-value-here" />
		<add key="APPLICATION_IS_LIVE" value="false" />
		<add key="DEFAULT_UI_CULTURE" value="nl-NL" />
		<add key="REPOSITORY_NAMESPACE" value="http://schemas.premotion.nl/mansion/1.0/sqlserverrepository.xsd" />
		<add key="SQLSERVER_CONNECTION_STRING" value="Server=TRILOBYTE-02\SQLEXPRESS;Database=TestDB;User ID=sa;Password=sqlpw1" />
		<add key="FACEBOOK_APP_ID" value="414316331933233" />
		<add key="FACEBOOK_APP_SECRET" value="90f6726834715b8dc6ce559f18e12216" />
		<add key="AWS_ACCESS_KEY" value="AKIAIW3LOR45TOGMIXWA" />
		<add key="AWS_ACCESS_SECRET" value="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" />
		<add key="AWS_BUCKET_NAME" value="premotion-test-bucket" />
	</appSettings>
	<system.webServer>
		<handlers>
			<clear />
			<add name="MansionScriptHandler" path="*" verb="*" type="Premotion.Mansion.Web.Hosting.AspNet.MansionHttpHandlerFactory, Premotion.Mansion.Web" />
		</handlers>
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<add name="X-XSS-Protection" value="0"/>
				<remove name="X-UA-Compatible" />
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".m4v" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".oga" />
			<mimeMap fileExtension=".oga" mimeType="audio/ogg" />
			<remove fileExtension=".spx" />
			<mimeMap fileExtension=".spx" mimeType="audio/ogg" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>