<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" />
		<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" />
		<sessionState mode="InProc" cookieless="false" timeout="240" />
		<identity impersonate="false" />
	</system.web>
	<appSettings>
		<add key="APPLICATION_IS_LIVE" value="false" />
		<add key="DEFAULT_UI_CULTURE" value="nl-NL" />
		<add key="REPOSITORY_NAMESPACE" value="http://schemas.premotion.nl/mansion/1.0/sqlserverrepository.xsd" />
		<add key="SQLSERVER_CONNECTION_STRING" value="Server=TRILOBYTE-02\SQLEXPRESS;Database=TestDB;User ID=sa;Password=sqlpw1" />
		<add key="FACEBOOK_APP_ID" value="414316331933233" />
		<add key="FACEBOOK_APP_SECRET" value="90f6726834715b8dc6ce559f18e12216" />
		<add key="AWS_ACCESS_KEY" value="AKIAIW3LOR45TOGMIXWA" />
		<add key="AWS_ACCESS_SECRET" value="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" />
		<add key="AWS_BUCKET_NAME" value="premotion-test-bucket" />
	</appSettings>
	<system.webServer>
		<modules>
			<remove name="ContextFactoryModule" />
			<add name="ContextFactoryModule" type="Premotion.Mansion.Web.Http.ContextFactoryHttpModule, Premotion.Mansion.Web" />
			<remove name="OutputCacheModule" />
			<add name="OutputCacheModule" type="Premotion.Mansion.Web.Http.OutputCacheHttpModule, Premotion.Mansion.Web" />
		</modules>
		<handlers>
			<remove name="MansionStaticResourceHandler" />
			<add name="MansionStaticResourceHandler" path="static-resources/*" verb="GET" type="Premotion.Mansion.Web.Http.StaticResourceHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionDynamicResourceHandler" />
			<add name="MansionDynamicResourceHandler" path="dynamic-resources/*" verb="GET" type="Premotion.Mansion.Web.Http.DynamicResourceHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionMergeResourceHandler" />
			<add name="MansionMergeResourceHandler" path="merge-resources/*" verb="GET" type="Premotion.Mansion.Web.Http.MergeResourceHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionStaticContentHandler" />
			<add name="MansionStaticContentHandler" path="application-content/*" verb="GET" type="Premotion.Mansion.Web.Http.StaticContentHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionStreamingStaticContentHandler" />
			<add name="MansionStreamingStaticContentHandler" path="streaming-application-content/*" verb="GET" type="Premotion.Mansion.Web.Http.StreamingStaticContentHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionCKFinderConnectorHttpHandler" />
			<add name="MansionCKFinderConnectorHttpHandler" path="CKFinder.Connector" verb="GET,POST" type="Premotion.Mansion.Web.CKFinderConnector.ConnectorHttpHandler, Premotion.Mansion.Web" />
			<remove name="MansionScriptHandler" />
			<add name="MansionScriptHandler" path="*" verb="*" type="Premotion.Mansion.Web.Http.ScriptHttpHandler, Premotion.Mansion.Web" />
		</handlers>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/" responseMode="ExecuteURL" />
		</httpErrors>
		<defaultDocument>
			<files>
				<clear />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-UA-Compatible" />
				<add name="X-UA-Compatible" value="IE=edge,chrome=1" />
				<remove name="X-Frame-Options" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".m4v" />
			<mimeMap fileExtension=".m4v" mimeType="video/m4v" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="video/ogg" />
			<remove fileExtension=".ogv" />
			<mimeMap fileExtension=".ogv" mimeType="video/ogg" />
			<remove fileExtension=".webm" />
			<mimeMap fileExtension=".webm" mimeType="video/webm" />
			<remove fileExtension=".oga" />
			<mimeMap fileExtension=".oga" mimeType="audio/ogg" />
			<remove fileExtension=".spx" />
			<mimeMap fileExtension=".spx" mimeType="audio/ogg" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".svgz" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="font/otf" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
		</staticContent>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="localhost" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>